
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>Gallery</h2>
<div style="background-color:ghostwhite">
    <div style="color:darkblue">
        <h6>Chelsea Football Club Image Gallery</h6>
    </div>
</div>
<div style="background-color:ghostwhite">
    <div style="color:darkblue">
        <div class="gallery">
            <img src="~/Images/Kante 1.jpg" />
        </div>
        <div class="gallery">
            <img src="~/Images/Chelsea 1.jpg" />
        </div>
    </div>
</div>
<div style="background-color:ghostwhite">
    <div style="color:darkblue">

    </div>
</div>

